In [4]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score,f1_score
from pandas.api.types import is_string_dtype,is_numeric_dtype
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import numpy as np
import fancyimpute
%matplotlib inline

Using TensorFlow backend.

In [2]:
# 1.reading in data
%pwd

'D:\\Python\\DataScience\\DataScience6105\\Assignment2'

In [2]:
# set path
path = 'D:\\Python\\DataScience\\DataScience6105\\Assignment2'

In [5]:
df_raw = pd.read_csv(f'{path}/train.csv',parse_dates = ["activation_date"])

In [6]:
# sort the values by acitivation_date column
df_raw.sort_values(by = "activation_date",inplace = True)
df_raw.head(3)

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability
751711,3b896605f03c,9457abfa0ebf,Самарская область,Самара,Личные вещи,Детская одежда и обувь,Для мальчиков,Верхняя одежда,86-92 см (1-2 года),Зимний комбенизон,Зимний комбенизон для малыша,500.0,12,2017-03-15,Private,a805aa774699aca42e538e1626ef70f806dd38d1bf85eb...,1008.0,0.0
889369,c81c34d3aac5,0b161da2b144,Иркутская область,Братск,Бытовая электроника,Телефоны,Аксессуары,Чехлы и плёнки,NaN,Чехол для айфона 6s,Твёрдый пластик,100.0,5,2017-03-15,Private,76c39c52a894c51499da3ee2ddecd98da533ccbdae5096...,2909.0,0.0
175952,a8ab6225dd06,93d527a1ca66,Пермский край,Краснокамск,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Верхняя одежда,44–46 (M),Продам кожанную куртку,NaN,1500.0,32,2017-03-15,Private,d7cb3c4a84ce9f95958f2995474140b28ae7ad1cd0d6de...,527.0,0.0

In [7]:
# 2. Define functions for this machine learning exerise
'''Define functions to preprocess data - split dates, categorize, impute'''

def split_dates(df,date_column):
    date_df = pd.DataFrame({"year": df[date_column].dt.year,
              "month": df[date_column].dt.month,
              "day": df[date_column].dt.day,
              "dayofyear": df[date_column].dt.dayofyear,
              "week": df[date_column].dt.week,
              "weekofyear": df[date_column].dt.weekofyear,
              "dayofweek": df[date_column].dt.dayofweek,
              "weekday": df[date_column].dt.weekday,
              "quarter": df[date_column].dt.quarter,
             })
    df = df.drop(date_column,axis = 1)
    df = pd.concat([df,date_df],axis = 1)
    return df

def str_to_cat(my_df):
    for p,q in my_df.items(): #my_df.items() is a generator in Python
        if is_string_dtype(q): 
            my_df[p] = q.astype('category').cat.as_ordered()
    return my_df
def mydf_to_nums(my_df, feature, null_status):
    if not is_numeric_dtype(feature):
        my_df[null_status] = feature.cat.codes + 1
        
def mydf_imputer(my_df, feature, null_status, null_table):
    if is_numeric_dtype(feature):
        if pd.isnull(feature).sum() or (null_status in null_table):
            my_df[null_status+'_na'] = pd.isnull(feature)
            filler = null_table[null_status] if null_status in null_table else feature.median()
            my_df[null_status] = feature.fillna(filler)
            null_table[null_status] = filler
    return null_table   

def mydf_preprocessor(my_df, null_table):
    '''null_table  = your table or None'''
    
    if null_table is None: 
        null_table = dict()
    for p,q in my_df.items(): 
        null_table = mydf_imputer(my_df, q, p, null_table)
    for p,q in my_df.items(): 
        mydf_to_nums(my_df, q, p)
    my_df = pd.get_dummies(my_df, dummy_na = True)
    res = [my_df, null_table]
    return res

In [8]:
# 3. Preprocess train data using the defined functions
'''
preprocess the data
''' 
df_raw_1 = split_dates(df_raw,"activation_date")
df_raw_1.head(3)

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,...,deal_probability,year,month,day,dayofyear,week,weekofyear,dayofweek,weekday,quarter
751711,3b896605f03c,9457abfa0ebf,Самарская область,Самара,Личные вещи,Детская одежда и обувь,Для мальчиков,Верхняя одежда,86-92 см (1-2 года),Зимний комбенизон,...,0.0,2017,3,15,74,11,11,2,2,1
889369,c81c34d3aac5,0b161da2b144,Иркутская область,Братск,Бытовая электроника,Телефоны,Аксессуары,Чехлы и плёнки,NaN,Чехол для айфона 6s,...,0.0,2017,3,15,74,11,11,2,2,1
175952,a8ab6225dd06,93d527a1ca66,Пермский край,Краснокамск,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Верхняя одежда,44–46 (M),Продам кожанную куртку,...,0.0,2017,3,15,74,11,11,2,2,1

In [9]:
df_raw_2 = str_to_cat(df_raw_1)
df_raw_2.head(3)

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,...,deal_probability,year,month,day,dayofyear,week,weekofyear,dayofweek,weekday,quarter
751711,3b896605f03c,9457abfa0ebf,Самарская область,Самара,Личные вещи,Детская одежда и обувь,Для мальчиков,Верхняя одежда,86-92 см (1-2 года),Зимний комбенизон,...,0.0,2017,3,15,74,11,11,2,2,1
889369,c81c34d3aac5,0b161da2b144,Иркутская область,Братск,Бытовая электроника,Телефоны,Аксессуары,Чехлы и плёнки,NaN,Чехол для айфона 6s,...,0.0,2017,3,15,74,11,11,2,2,1
175952,a8ab6225dd06,93d527a1ca66,Пермский край,Краснокамск,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Верхняя одежда,44–46 (M),Продам кожанную куртку,...,0.0,2017,3,15,74,11,11,2,2,1

In [10]:
df_raw_3,my_table = mydf_preprocessor(df_raw_2,null_table = None)
df_raw_3.head(3)

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,...,month,day,dayofyear,week,weekofyear,dayofweek,weekday,quarter,price_na,image_top_1_na
751711,348938,447528,18,1301,5,11,110,122,186,261804,...,3,15,74,11,11,2,2,1,False,False
889369,1175228,33441,7,232,1,42,41,262,0,754605,...,3,15,74,11,11,2,2,1,False,False
175952,991010,446030,16,729,5,30,126,122,144,562387,...,3,15,74,11,11,2,2,1,False,False

In [10]:
'''Define functions to split data, measure accuracy, and r-squared'''
def split_df(df,num):
    return df[ :num].copy(),df[num: ].copy()

def my_rmse(y1,y2):
    return np.sqrt(((y1-y2)**2).mean())

def rsq_n_rmse(my_model,x_train,y_train,x_val,y_val):
    result = [my_model.score(x_train,y_train),my_model.score(x_val,y_val),
             my_rmse(my_model.predict(x_train),y_train),my_rmse(my_model.predict(x_val),y_val)]
    return "train rsq,val rsq,train rmse, val rmse", result

# use a subset to tune hyperparamters

In [15]:
x = df_raw_3.drop('deal_probability', axis=1)
y = df_raw_3['deal_probability']
x_sub,_ = split_df(x,200000)
y_sub,_ = split_df(y,200000)
x_trn,x_val = split_df(x_sub,150000)
y_trn,y_val = split_df(y_sub,150000)

# 4. Model building, hyperparameter tuning, and exploratory data analysis (EDA)

In [24]:
# build the model
mod_1 = RandomForestRegressor(n_jobs = -1,oob_score = False,n_estimators = 50, max_depth = 40000,min_samples_leaf = 25)
mod_1.fit(x_trn,y_trn)
rsq_n_rmse(mod_1,x_trn,y_trn,x_val,y_val)

NameError: name 'x_trn' is not defined

In [23]:
'''Calculate feature importance scores with your model'''

feat_imps = pd.DataFrame(mod_1.feature_importances_, index = x_trn.columns,
                                    columns=['Importance score']).sort_values('Importance score',ascending=False)
feat_imps = feat_imps.reset_index()
feat_imps.columns = ["Feature","Importance Score"]
plt.figure(figsize = (8,6))
sns.barplot(x = "Importance Score",y = "Feature",data = feat_imps,orient = "h")

NameError: name 'mod_1' is not defined

In [17]:
# 5. Test out your model
# preprocess the test data
test_raw = pd.read_csv(f'{path}/test.csv',parse_dates = ["activation_date"])
test_raw_1 = split_dates(test_raw,"activation_date")
test_raw_2 = str_to_cat(test_raw_1)
test_raw_2.head(3)

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,...,image_top_1,year,month,day,dayofyear,week,weekofyear,dayofweek,weekday,quarter
0,6544e41a8817,dbe73ad6e4b5,Волгоградская область,Волгоград,Личные вещи,Детская одежда и обувь,Для мальчиков,Обувь,25,Отдам бесплатно,...,2020.0,2017,4,18,108,16,16,1,1,2
1,65b9484d670f,2e11806abe57,Свердловская область,Нижняя Тура,Хобби и отдых,Велосипеды,Дорожные,NaN,NaN,Продам велосипед,...,NaN,2017,4,16,106,15,15,6,6,2
2,8bab230b2ecd,0b850bbebb10,Новосибирская область,Бердск,Бытовая электроника,Аудио и видео,Телевизоры и проекторы,NaN,NaN,BBK,...,2960.0,2017,4,17,107,16,16,0,0,2

In [18]:
test_raw_3,my_table_1 = mydf_preprocessor(test_raw_2,null_table = my_table)
y_test_pred = mod_1.predict(test_raw_3)
print(y_test_pred)

[0.13608164 0.250482   0.14887222 ... 0.05443806 0.28518139 0.09810532]

In [9]:
def mydf_imputer_fancy_inpute_KNN(my_df, feature, null_status, null_table):
    if is_numeric_dtype(feature):
        if pd.isnull(feature).sum():
            my_df[null_status+'_na'] = pd.isnull(feature)

def mydf_preprocessor_fancy_inpute_KNN(my_df, null_table):
    '''null_table  = your table or None'''
    
    if null_table is None: 
        null_table = dict()
    for p,q in my_df.items(): 
        null_table = mydf_imputer_fancy_inpute_KNN(my_df, q, p, null_table)
    for p,q in my_df.items(): 
        mydf_to_nums(my_df, q, p)
    my_df = pd.get_dummies(my_df, dummy_na = True)
    res = [my_df, null_table]
    return res

In [11]:
#df_raw_2.info()
df_test_raw = df_raw_2.drop(["item_id","user_id","region","city","parent_category_name","category_name","param_1","param_2","param_3","title","description","user_type","image","deal_probability","year","month","day","item_seq_number","dayofyear","week","weekofyear","dayofweek","weekday","quarter","price"],axis=1)

In [12]:
'''
using the fancyimpute to impute the data
'''
# the missing imputation is filled with 0
df_test_raw_1 = df_test_raw[:5000]
df_test = fancyimpute.KNN(k=3).fit_transform(df_test_raw_1)

Imputing row 1/5000 with 0 missing, elapsed time: 3.170
Imputing row 101/5000 with 0 missing, elapsed time: 3.171
Imputing row 201/5000 with 0 missing, elapsed time: 3.171
Imputing row 301/5000 with 0 missing, elapsed time: 3.171
Imputing row 401/5000 with 0 missing, elapsed time: 3.172
Imputing row 501/5000 with 0 missing, elapsed time: 3.172
Imputing row 601/5000 with 0 missing, elapsed time: 3.172
Imputing row 701/5000 with 0 missing, elapsed time: 3.173
Imputing row 801/5000 with 0 missing, elapsed time: 3.173
Imputing row 901/5000 with 0 missing, elapsed time: 3.173
Imputing row 1001/5000 with 0 missing, elapsed time: 3.174
Imputing row 1101/5000 with 1 missing, elapsed time: 3.174
Imputing row 1201/5000 with 0 missing, elapsed time: 3.174
Imputing row 1301/5000 with 0 missing, elapsed time: 3.175
Imputing row 1401/5000 with 0 missing, elapsed time: 3.175
Imputing row 1501/5000 with 0 missing, elapsed time: 3.175
Imputing row 1601/5000 with 1 missing, elapsed time: 3.176
Imputing row 1701/5000 with 0 missing, elapsed time: 3.176
Imputing row 1801/5000 with 0 missing, elapsed time: 3.176
Imputing row 1901/5000 with 0 missing, elapsed time: 3.177
Imputing row 2001/5000 with 0 missing, elapsed time: 3.177
Imputing row 2101/5000 with 0 missing, elapsed time: 3.177
Imputing row 2201/5000 with 0 missing, elapsed time: 3.178
Imputing row 2301/5000 with 0 missing, elapsed time: 3.178
Imputing row 2401/5000 with 0 missing, elapsed time: 3.179
Imputing row 2501/5000 with 0 missing, elapsed time: 3.179
Imputing row 2601/5000 with 1 missing, elapsed time: 3.179
Imputing row 2701/5000 with 0 missing, elapsed time: 3.180
Imputing row 2801/5000 with 0 missing, elapsed time: 3.180
Imputing row 2901/5000 with 1 missing, elapsed time: 3.181
Imputing row 3001/5000 with 0 missing, elapsed time: 3.181
Imputing row 3101/5000 with 0 missing, elapsed time: 3.181
Imputing row 3201/5000 with 0 missing, elapsed time: 3.182
Imputing row 3301/5000 with 0 missing, elapsed time: 3.182
Imputing row 3401/5000 with 0 missing, elapsed time: 3.182
Imputing row 3501/5000 with 0 missing, elapsed time: 3.183
Imputing row 3601/5000 with 0 missing, elapsed time: 3.183
Imputing row 3701/5000 with 0 missing, elapsed time: 3.183
Imputing row 3801/5000 with 0 missing, elapsed time: 3.184
Imputing row 3901/5000 with 0 missing, elapsed time: 3.184
Imputing row 4001/5000 with 0 missing, elapsed time: 3.184
Imputing row 4101/5000 with 0 missing, elapsed time: 3.185
Imputing row 4201/5000 with 0 missing, elapsed time: 3.185
Imputing row 4301/5000 with 0 missing, elapsed time: 3.186
Imputing row 4401/5000 with 0 missing, elapsed time: 3.186
Imputing row 4501/5000 with 0 missing, elapsed time: 3.186
Imputing row 4601/5000 with 0 missing, elapsed time: 3.187
Imputing row 4701/5000 with 0 missing, elapsed time: 3.187
Imputing row 4801/5000 with 0 missing, elapsed time: 3.187
Imputing row 4901/5000 with 0 missing, elapsed time: 3.188
[KNN] Warning: 392/5000 still missing after imputation, replacing with 0

In [13]:
# BiScaler doesn't work
df_test_1 = fancyimpute.BiScaler().fit_transform(df_test_raw_1)

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [14]:
df_test_2 = fancyimpute.SoftImpute().fit_transform(df_test_raw_1)

[SoftImpute] Max Singular Value of X_init = 107101.907999
[SoftImpute] Iter 1: observed MAE=24.930681 rank=1
[SoftImpute] Iter 2: observed MAE=24.930681 rank=1
[SoftImpute] Iter 3: observed MAE=24.930681 rank=1
[SoftImpute] Iter 4: observed MAE=24.930681 rank=1
[SoftImpute] Iter 5: observed MAE=24.930681 rank=1
[SoftImpute] Iter 6: observed MAE=24.930681 rank=1
[SoftImpute] Iter 7: observed MAE=24.930681 rank=1
[SoftImpute] Iter 8: observed MAE=24.930681 rank=1
[SoftImpute] Iter 9: observed MAE=24.930681 rank=1
[SoftImpute] Iter 10: observed MAE=24.930681 rank=1
[SoftImpute] Iter 11: observed MAE=24.930681 rank=1
[SoftImpute] Iter 12: observed MAE=24.930681 rank=1
[SoftImpute] Iter 13: observed MAE=24.930681 rank=1
[SoftImpute] Iter 14: observed MAE=24.930681 rank=1
[SoftImpute] Iter 15: observed MAE=24.930681 rank=1
[SoftImpute] Iter 16: observed MAE=24.930681 rank=1
[SoftImpute] Iter 17: observed MAE=24.930681 rank=1
[SoftImpute] Iter 18: observed MAE=24.930681 rank=1
[SoftImpute] Iter 19: observed MAE=24.930681 rank=1
[SoftImpute] Iter 20: observed MAE=24.930681 rank=1
[SoftImpute] Iter 21: observed MAE=24.930681 rank=1
[SoftImpute] Iter 22: observed MAE=24.930681 rank=1
[SoftImpute] Iter 23: observed MAE=24.930681 rank=1
[SoftImpute] Iter 24: observed MAE=24.930681 rank=1
[SoftImpute] Iter 25: observed MAE=24.930681 rank=1
[SoftImpute] Iter 26: observed MAE=24.930681 rank=1
[SoftImpute] Iter 27: observed MAE=24.930681 rank=1
[SoftImpute] Iter 28: observed MAE=24.930681 rank=1
[SoftImpute] Iter 29: observed MAE=24.930681 rank=1
[SoftImpute] Iter 30: observed MAE=24.930681 rank=1
[SoftImpute] Iter 31: observed MAE=24.930681 rank=1
[SoftImpute] Iter 32: observed MAE=24.930681 rank=1
[SoftImpute] Iter 33: observed MAE=24.930681 rank=1
[SoftImpute] Iter 34: observed MAE=24.930681 rank=1
[SoftImpute] Iter 35: observed MAE=24.930681 rank=1
[SoftImpute] Iter 36: observed MAE=24.930681 rank=1
[SoftImpute] Iter 37: observed MAE=24.930681 rank=1
[SoftImpute] Iter 38: observed MAE=24.930681 rank=1
[SoftImpute] Iter 39: observed MAE=24.930681 rank=1
[SoftImpute] Iter 40: observed MAE=24.930681 rank=1
[SoftImpute] Iter 41: observed MAE=24.930681 rank=1
[SoftImpute] Iter 42: observed MAE=24.930681 rank=1
[SoftImpute] Iter 43: observed MAE=24.930681 rank=1
[SoftImpute] Iter 44: observed MAE=24.930681 rank=1
[SoftImpute] Iter 45: observed MAE=24.930681 rank=1
[SoftImpute] Iter 46: observed MAE=24.930681 rank=1
[SoftImpute] Iter 47: observed MAE=24.930681 rank=1
[SoftImpute] Iter 48: observed MAE=24.930681 rank=1
[SoftImpute] Iter 49: observed MAE=24.930681 rank=1
[SoftImpute] Iter 50: observed MAE=24.930681 rank=1
[SoftImpute] Iter 51: observed MAE=24.930681 rank=1
[SoftImpute] Iter 52: observed MAE=24.930681 rank=1
[SoftImpute] Iter 53: observed MAE=24.930681 rank=1
[SoftImpute] Iter 54: observed MAE=24.930681 rank=1
[SoftImpute] Iter 55: observed MAE=24.930681 rank=1
[SoftImpute] Iter 56: observed MAE=24.930681 rank=1
[SoftImpute] Iter 57: observed MAE=24.930681 rank=1
[SoftImpute] Iter 58: observed MAE=24.930681 rank=1
[SoftImpute] Iter 59: observed MAE=24.930681 rank=1
[SoftImpute] Iter 60: observed MAE=24.930681 rank=1
[SoftImpute] Iter 61: observed MAE=24.930681 rank=1
[SoftImpute] Iter 62: observed MAE=24.930681 rank=1
[SoftImpute] Iter 63: observed MAE=24.930681 rank=1
[SoftImpute] Iter 64: observed MAE=24.930681 rank=1
[SoftImpute] Iter 65: observed MAE=24.930681 rank=1
[SoftImpute] Iter 66: observed MAE=24.930681 rank=1
[SoftImpute] Iter 67: observed MAE=24.930681 rank=1
[SoftImpute] Iter 68: observed MAE=24.930681 rank=1
[SoftImpute] Iter 69: observed MAE=24.930681 rank=1
[SoftImpute] Iter 70: observed MAE=24.930681 rank=1
[SoftImpute] Iter 71: observed MAE=24.930681 rank=1
[SoftImpute] Iter 72: observed MAE=24.930681 rank=1
[SoftImpute] Iter 73: observed MAE=24.930681 rank=1
[SoftImpute] Iter 74: observed MAE=24.930681 rank=1
[SoftImpute] Iter 75: observed MAE=24.930681 rank=1
[SoftImpute] Iter 76: observed MAE=24.930681 rank=1
[SoftImpute] Iter 77: observed MAE=24.930681 rank=1
[SoftImpute] Iter 78: observed MAE=24.930681 rank=1
[SoftImpute] Iter 79: observed MAE=24.930681 rank=1
[SoftImpute] Iter 80: observed MAE=24.930681 rank=1
[SoftImpute] Iter 81: observed MAE=24.930681 rank=1
[SoftImpute] Iter 82: observed MAE=24.930681 rank=1
[SoftImpute] Iter 83: observed MAE=24.930681 rank=1
[SoftImpute] Iter 84: observed MAE=24.930681 rank=1
[SoftImpute] Iter 85: observed MAE=24.930681 rank=1
[SoftImpute] Iter 86: observed MAE=24.930681 rank=1
[SoftImpute] Iter 87: observed MAE=24.930681 rank=1
[SoftImpute] Iter 88: observed MAE=24.930681 rank=1
[SoftImpute] Iter 89: observed MAE=24.930681 rank=1
[SoftImpute] Iter 90: observed MAE=24.930681 rank=1
[SoftImpute] Iter 91: observed MAE=24.930681 rank=1
[SoftImpute] Iter 92: observed MAE=24.930681 rank=1
[SoftImpute] Iter 93: observed MAE=24.930681 rank=1
[SoftImpute] Iter 94: observed MAE=24.930681 rank=1
[SoftImpute] Iter 95: observed MAE=24.930681 rank=1
[SoftImpute] Iter 96: observed MAE=24.930681 rank=1
[SoftImpute] Iter 97: observed MAE=24.930681 rank=1
[SoftImpute] Iter 98: observed MAE=24.930681 rank=1
[SoftImpute] Iter 99: observed MAE=24.930681 rank=1
[SoftImpute] Iter 100: observed MAE=24.930681 rank=1
[SoftImpute] Stopped after iteration 100 for lambda=2142.038160

In [21]:
x = df_test_raw.drop('deal_probability', axis=1)
y = df_test_raw['deal_probability']
x_trn_test,x_val_test = split_df(x,3500)
y_trn_test,y_val_test = split_df(y,3500)

KeyError: "['deal_probability'] not found in axis"

In [ ]:
mod_2 = RandomForestRegressor(n_jobs = -1,oob_score = False,n_estimators = 50, max_depth = 40000,min_samples_leaf = 25)
mod_2.fit(x_trn_test,y_trn_test)
rsq_n_rmse(mod_2,x_trn_test,y_trn_test,x_val_test,y_val_test)

NameError: name 'x_trn_test' is not defined